body {  
    margin: 0;  
    background-image: url('bg.png');    
	background-size:30%; 
    background-color: #8ddfda;  
} 

.hat {
    z-index: 2;
    box-sizing: border-box;
    position: fixed;
    display: flex;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 64px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 16px;
}

.badge {
    width: 148px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    background: url(https://s.pximg.net/www/js/fanbox/2e1a6c174315166e13faac967c1ffd43.svg) center center / 148px 20px no-repeat;
}

.imgframe {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-bottom: 32px;
}

.midframe {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 56px 20px;
}

.bigframe {
    position: relative;
    min-height: calc(((100vh - 64px) - 112px) - 40px);
    padding: 64px 0px 40px;
}

.midfont {
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    font-weight: 700;
    white-space: pre-wrap;
}

.OrgBut {
	margin-top: 20px;
    box-sizing: border-box;
    min-width: 120px;
    height: 56px;
    line-height: 1;
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    transition-property: border-color, background, color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    display: inline-block;
    padding: 0px calc(28px);
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    border-radius: 80000px;
    background: rgb(255, 109, 0);
}

.fontplace {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
}
.BluBut {
	margin-top: 20px;
    box-sizing: border-box;
    min-width: 120px;
    height: 56px;
    line-height: 1;
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    transition-property: border-color, background, color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    display: inline-block;
    padding: 0px calc(28px);
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    border-radius: 80000px;
    background: rgb(0, 150, 250);
}
.yelframe{
	display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 56px 20px;
}
.micfont {
    text-align: center;
    line-height: 32px;
    font-size: 18px;
    font-weight: 700;
    white-space: pre-wrap;
}

@media (max-width: 767px){
body {
	background-size:70%;
}
.hat {
    height: 48px;
    padding: 0px 8px;
}
.midfont {
    line-height: 32px;
    font-size: 18px;
}
.bigframe {
    padding-top: 48px;
    min-height: calc(((100vh - 48px) - 112px) - 40px);
}
}
